In [1]:
import mysql.connector as connector

In [2]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",        # or your host
    user="root",    # replace with your MySQL username
    password="password",# replace with your MySQL password
    database="little_lemon_db"  # this selects the DB to use
)

In [3]:
cursor = conn.cursor()

In [ ]:
# Now you can run queries
cursor.execute("SHOW TABLES;")

In [ ]:
for row in cursor.fetchall():
    print(row)

In [6]:
query = """
    SELECT 
        c.Name,
        c.Phone,
        c.Email,
        o.BillAmount
    FROM 
        customers c
    JOIN 
        orders o ON c.CustomerID = o.CustomerID
    WHERE 
        o.BillAmount > 60;
"""

In [7]:
cursor.execute(query)

In [9]:
    for row in cursor.fetchall():
        print(row)

('Bob Johnson', '2202222', 'bob@example.com', Decimal('129.87'))
('Alice Morgan', '555-123-4567', 'alice.morgan@example.com', Decimal('142.09'))
('Brian Thompson', '555-234-5678', 'brian.thompson@example.com', Decimal('86.50'))
('David Lee', '555-456-7890', 'david.lee@example.com', Decimal('73.28'))
('Elena Cruz', '555-567-8901', 'elena.cruz@example.com', Decimal('145.00'))
('Frank Diaz', '555-678-9012', 'frank.diaz@example.com', Decimal('66.60'))
('Grace Patel', '555-789-0123', 'grace.patel@example.com', Decimal('120.49'))

In [10]:
cursor.close
conn.close